<h1>Calculations</h1>

<%= form_tag calculate_rates_path, remote: true do %>
  <%= label_tag 'sum', 'Investment sum:' %>
  <%= text_field_tag 'sum' %>

  <%= submit_tag 'Calculate'  %>
<% end %>

<%= label_tag 'actual_rate:', 'Actual rate:', id: 'actual_rate' %>
<%= label_tag 'expected_rate:', 'Expected rate:', id: 'expected_rate' %>