<%= form_with(model: investment, local: true) do |form| %>
  <% if investment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(investment.errors.count, "error") %> prohibited this investment from being saved:</h2>

      <ul>
      <% investment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sum %>
    <%= form.text_field :sum, id: :investment_sum %>
  </div>

  <div class="field">
    <%= form.label :period_in_months %>
    <%= form.number_field :period_in_months, id: :investment_period_in_months %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.text_field :rate, id: :investment_rate %>
  </div>

  <div class="field">
    <%= form.label :time_months %>
    <%= form.number_field :time_months, id: :investment_time_months %>
  </div>

  <div class="field">
    <%= form.label :delay_rate %>
    <%= form.text_field :delay_rate, id: :investment_delay_rate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
