<p id="notice"><%= notice %></p>

<h1>Investments</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Sum</th>
      <th>Period in months</th>
      <th>Rate</th>
      <th>Time months</th>
      <th>Delay rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investments.each do |investment| %>
      <tr>
        <td><%= investment.id %></td>
        <td><%= investment.sum %></td>
        <td><%= investment.period_in_months %></td>
        <td><%= investment.rate %></td>
        <td><%= investment.time_months %></td>
        <td><%= investment.delay_rate %></td>
        <td><%= link_to 'Show', investment %></td>
        <td><%= link_to 'Edit', edit_investment_path(investment) %></td>
        <td><%= link_to 'Destroy', investment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investment', new_investment_path %>
