<p id="notice"><%= notice %></p>

<p>
  <strong>Sum:</strong>
  <%= @investment.sum %>
</p>

<p>
  <strong>Period in months:</strong>
  <%= @investment.period_in_months %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @investment.rate %>
</p>

<p>
  <strong>Time months:</strong>
  <%= @investment.time_months %>
</p>

<p>
  <strong>Delay rate:</strong>
  <%= @investment.delay_rate %>
</p>

<%= link_to 'Edit', edit_investment_path(@investment) %> |
<%= link_to 'Back', investments_path %>
