<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount_type %>
    <%= form.select :amount_type, Payment.amount_types.keys.to_a %>
  </div>

  <div class="field">
    <%= form.label :investment_id %>
    <%= form.collection_select :investment_id, Investment.all, :id, :id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
