body {
  margin: 0;
}

.container {
  width: 50%;
  margin: auto;
  font-size: 16px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 30px;
  color: white;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

select, input {
  width: 50%;
  margin: 10px 0;
  font-size: 16px;
  padding: 5px;
}

table {
  text-align: center;
}

td, th {
  padding: 10px;
}