<!DOCTYPE html>
<html>
  <head>
    <title>Balancepl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='topnav'>
      <%= link_to 'Calculations', root_path, class: ('active' if current_page?(root_path)) %>
      <%= link_to 'Investments', investments_path, class: ('active' if current_page?(investments_path)) %>
      <%= link_to 'Payments', payments_path, class: ('active' if current_page?(payments_path)) %>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
